/* ---------- CSS RESET ---------- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ---------- END CSS RESET ---------- */


body {
	background-color: #121214;
	width: 100%;
	height: 100%;
}

@font-face
{
font-family: Prosto;
src: url('../fonts/Prosto.ttf');
}



/* ---------- ICON FONTS ---------- */


@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 1.4em;
	color: #333;
	padding:0 8px 0 8px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-image:before {
	content: "\e601";
}
.icon-cart:before {
	content: "\e602";
}
.icon-envelop:before {
	content: "\e603";
}
.icon-zoom-in:before {
	content: "\e604";
}
.icon-zoom-out:before {
	content: "\e605";
}
.icon-lock:before {
	content: "\e606";
}
.icon-unlocked:before {
	content: "\e607";
}
.icon-menu:before {
	content: "\e608";
}
.icon-info:before {
	content: "\e609";
}
.icon-info2:before {
	content: "\e60a";
}
.icon-mail:before {
	content: "\e60b";
}
.icon-google-plus:before {
	content: "\e60c";
}
.icon-facebook:before {
	content: "\e60d";
}
.icon-twitter:before {
	content: "\e60e";
}
.icon-feed:before {
	content: "\e60f";
}


.icon-facebook:hover {
	color: #3B5998;
}
.icon-google-plus:hover {
	color: #f2321c;
}
.icon-feed:hover {
	color: #ff9600;
}
.icon-mail:hover {
	color: #b2aea5;
}

.screen-reader-text {
position:absolute;
top:-9999px;
left:-9999px
}

/* ---------- END ICON FONTS ---------- */
a {
	text-decoration: none;
}

h1 {
	font-family: 'Julius Sans One', serif;
	font-size: 2em;
	font-weight: 400;
	color: #333;
	padding: 30px 10px 0 0;
}

h1::first-letter {
	font-size: 1.025em;
}

.clear {
	clear: both;
}

.container {
	height: 100%;
	width: 100%;
}


/* ---------- DROPDOWN MENU ---------- */

.dropdown-menu {
	position: absolute;
	z-index: 999;
	top: 0;
	left: 100px;
	padding: 0;
	height: auto;
}

.hidden-menu {
	background-image:url('../images/nav.png');
	height: auto;
	display: none;
	width: 170px;
}

.menu-tag {
	float: left;
	clear: both;
	width: 170px;
	margin: 0;
	padding: 15px 0 15px 0;
	text-align: center;
	background-color: rgba(70, 98, 15, 0.7);
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	color: #b2aea5;
	cursor: pointer;
}

nav {
	height: 100%;
}

nav ul {
    width: 100%;
    padding: 0;
    opacity: 1.0;
    height: 100%;
    margin: 0;
}
nav ul li {
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #b2aea5;
    font-size: 1.1em;
    text-align: right;
    padding: 15px 0 15px 0;
    
}

nav a {
    color: #b2aea5;
}

.menuitem {
    padding-right: 5px;
}

div[class$="-border"] {
	border-bottom: 5px solid #46620f;
	visibility: hidden;
}

/* 
when hovering over .menuitem element, if adjacent element is 
#simon-border (etc), make border visible. CSS sibling selectors. 
*/
.menuitem:hover + .home-border,
.menuitem:hover + .simon-border,
.menuitem:hover + .store-border,
.menuitem:hover + .gallery-border,
.menuitem:hover + .creative-commons-border,
.menuitem:hover + .contact-border {
    visibility: visible;
}

/* ---------- END DROPDOWN MENU ---------- */



header {
	position: absolute;
	top: 0;
	width: 100%;
	height: 10%;
	text-align: right;
	padding: 0;
	margin: 0;
}

.main-front-page {
	position: absolute;
	top: 10%;
	height: 80%;
}

.main {
	position: absolute;
	top: 10%;
	/*height: 80%;*/
	height: auto;
	padding-bottom: 8%;
}

footer {
	position: fixed;
	bottom: 0;
	background-color: #191919;
	width: 100%;
	height: 10%;

}


/* ---------- FOLLOWING CSS FOR SINGLE FULL PAGE IMAGE ---------- */


.main-content {
	display: table;
	height: 100%;
}

.centred {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.centred img {
	width: 100%;
    height: auto;
}

/* ---------- END CSS FOR SINGLE FULL PAGE IMAGE ---------- */



/* ---------- FOLLOWING CSS FOR MULTIPLE BOX IMAGES ---------- */


/*.main-content {
	margin-top: 0;
	padding-top: 0;
	position: absolute;
	width: 100%;
	top: 15%;
	height: 68%;
}

.main-content:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: -0.25em; 
}

.centred {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.centred:before {
	content: '';
  	display: inline-block;
  	height: 100%;
  	vertical-align: middle;

  	margin-right: -0.25em;  
}

#front-page-photo {
	width: 100%;
    height: auto;
}

.multiple-photos {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	height: 150px;
	/*width: 900px;
	height: 150px;
	margin: 0 auto;
}

.boxes {
	display: block;
	width: 900px;
	height: 150px;
	margin: 0 auto;
}

.boxes img {
	padding: 0 25px 0 25px;
}*/

/* ---------- END CSS FOR MULTIPLE BOX IMAGES ---------- */


.social-media {
	padding-top: 5px;
	text-align: center;
}

.copyright {
	font-family: 'Quicksand', sans-serif;
	font-size: 0.7em;
	color: #b2aea5;
	text-align: center;
	padding-top: 5px;
}




/* ---------- SIMON PAGE ---------- */

.content {
	width: 100%;
	height: auto;
}

.content-left {
	display: inline-block;
	width: 26%;
	margin: 45px 35px 0 35px;
}

.content-right-container {
	display: inline-block;
	width: 60%;
	height: auto;
	margin-top: 45px;
}
.content-right {
	display: block;
	/*background-color: #2b2b2b;*/
	width: 65%;
	margin: 0 auto;
	padding: 15px;
	
	
}

.content-right p {
	font-family: sans-serif;
	color: #ababab;
	text-align: justify;
	line-height: 1.2;
}

